# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
fashion/node_modules
fashion/.pnp
.pnp.js
package-lock.json

# testing
fashion/coverage

# production
fashion/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.ipynb_checkpoints/
.vscode
/models/pretrained_efficientnet/
.idea
/data/
/models/
/.ipynb_checkpoints
/junk/
/fashion/public/images
.test.py.swp
=1.0.0
/backend/__pycache__
/backend/dump/*
